<div class="Card Answer--window">
    
    <div class="Card-section Card-info">
        Post your advice
    </div>
    
    <div class="Card-section line">
        There's no more spaces left to answer this question! 
    </div>
</div>
