<article class="Dilemma Card">
    <div class="Card-section">
        <div class="Dilemma-question">
            <div class="Moderation-entry-text ">
                <p style="white-space: pre-wrap">Nothing to show</p>
            </div>
        </div>
    </div>
</article>
