@model Dilemma.Business.ViewModels.NotificationListViewModel

<div class="Card Notification Card-go--container">
    <a href="#" class="Card-go--trigger"></a>
    <div class="Notification-score">
        @if (Model.TotalPointsAwarded == 0)
        {
            <div>
                <span data-icon="notification"></span>
            </div>
        }
        else
        {
            <div>@string.Format("{0}{1}", Model.TotalPointsAwarded > 0 ? "+" : string.Empty, Model.TotalPointsAwarded)
                <span class="Notification-score-label">Points</span>
            </div>
        }
    </div>
    <div class="Notification-summary">
        <div class="Card-label--small">@Model.CreatedDateTime.ToRelativeText()</div>
        <div class="Notification-summary-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis praesentium, officiis omnis voluptatibus!
        </div>
        <a href="#" class="Notification-summary-link">
            View Details
        </a> 
    </div><!-- Notification-summary -->
</div>
