@model Dilemma.Business.ViewModels.QuestionViewModel

<div class="Card-section">
    <div class="Dilemma-question">

        <div class="Dilemma-text ">
            <p style="white-space: pre-wrap">@Model.Text</p>
        </div><!-- Dilemma-text -->

    </div> 
</div>
