@model Dilemma.Business.ViewModels.QuestionViewModel

<div class="Card Notification Card-go--container">
    <a href="@Url.Action("Index", "Answers", new { questionId = Model.QuestionId })" class="Card-go--trigger"></a>
    <div class="Notification-score">
        <div><span data-icon="@(Model.IsMyQuestion ? "ask" : "advise")"></span></div>
    </div>
    <div class="Notification-summary">
        <div class="Card-label--small">@Model.CreatedDateTime.ToRelativeText()</div>
        <div class="Notification-summary-text">
            @Model.Text          
        </div>
    </div><!-- Notification-summary -->
</div>


