.Dilemmas {}
.Dilemma-state {}//heading

.Dilemma {}

.Dilemmas-empty-with-buttons,
.Dilemmas-empty {
  padding: 20px 10px 10px;
  text-align: center;
  margin: 7px 7px 30px;
  h2 {
    padding: 10px 0 20px;
  }
  p {
    font-size: 21px;
    line-height: 30px;
    color:#888;
    margin: 0  0 1em 0;
  }
  [class^='Button--'],
  [class*=' Button--'] {
    display: inline-block;
  }
  @media (max-width: 650px) {
    [class^='Button--'],
    [class*=' Button--'] {
      display: block;
      clear: both;
      width: 90%;
    }
  }
}

.Dilemmas-empty {
  padding: 20px 10px 30px;
  [class^='Button--'],
  [class*=' Button--'] {
    width: 48%;
  }
  @media (max-width: 650px) {
    [class^='Button--'],
    [class*=' Button--'] {
      display: block;
      clear: both;
      width: 90%;
    }
  }
}

.Dilemmas-empty-with-buttons {
    .button-section {
        padding-top: 30px;
    }
}

.Dilemma-question {
  position: relative;
}
  // .Dilemma-questioner {
  //   width: 20%;
  //   max-width: 90px;
  // }
  // .Questioner-avatar {}
  // .Questioner-rank {
  //   background: #c00;
  //   color:#fff;
  //   text-align: center;
  //   padding: 5px;
  // }


.Moderation-entry-text {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    box-sizing: content-box !important;
    padding: 10px 5px 20px;
}

.Dilemma-text {
  font-size: 13px;
  line-height: 18px;
  height: 65px;
  overflow: hidden;
  box-sizing: content-box !important;
  padding: 10px 5px  50px;

  // &:before {
  //   content: "“";
  //   font-size: 48px;
  //   float: left;
  //   color: #AAA;
  //   margin-top: 17px;
  //   line-height: 0;
  //   padding-right: 4px;
  // }
  .Dilemma-text-toggle-less {
    display: none;
  }
}
.Dilemma-text.is-active {
  .Dilemma-text-toggle-less {
    display: block;
  }
  .Dilemma-text-toggle-more {
    display: none;
  }
}
.Dilemma-text-toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: block;
  padding: 10px 8px 10px;
  font-weight: 500;
  &:hover {
    background-color: @color-bg-white-hover;
  }
}
.Dilemma-respondents {
  line-height: 20px;
  .unstyled;
  .horizontal;
  margin-bottom: 0;
}
.Dilemma-respondent {
  margin-left: 1%;
  width: 9%;
  img {
    overflow: hidden;
  }
}
.Dilemma-respondent--next {

}
.Dilemma-respondent--empty img {
  background: #ddd;
    border-radius: 50%;
}
.Dilemma-actions > div {
  padding-left: 4px;
  &:first-child {
    padding-left: 0;
  }
}
.Card-section 
  .Dilemma-action--bookmark {}
  .Dilemma-action--flag {}
  .Dilemma-action--vote {}
  .Dilemma-action--answer {}

.Dilemma-timeRemaining {
}
.Dilemma--complete {
  .Card-info {  background: #222; }
  .Card-label--small {
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
  }
}
