@model IEnumerable<Dilemma.Business.ViewModels.NotificationViewModel>

@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>

@foreach (var viewModel in Model)
{
    <div class="row">
        <a class="col-md-12" href="@Url.Action(viewModel.NotificationRoute.Action, viewModel.NotificationRoute.Controller, new RouteValueDictionary(viewModel.GetRouteData()), Request.Url.Scheme)">
            <div class="notification-text">
                @viewModel.GetMessage()
            </div>
        </a>
    </div>
}