@model IEnumerable<Dilemma.Business.ViewModels.NotificationListViewModel>

@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>

@foreach (var viewModel in Model)
{
    var rowClass = viewModel.IsActioned ? string.Empty : "bg-info";
    
    <div class="row">
        <a class="col-md-12" href="@Url.Action(viewModel.NotificationRoute.Action, viewModel.NotificationRoute.Controller, new RouteValueDictionary(viewModel.GetRouteData()), Request.Url.Scheme)">
            <div class="@rowClass">
                @viewModel.GetMessage()
            </div>
        </a>
    </div>
}