@model Dilemma.Business.ViewModels.FollowupViewModel

@{
    var isActive = ViewBag.FollowupIsActive == true;
    var textareaClass = isActive ? "is-active" : "js-activate-answer-form";
}

<form class="Card Answer--window">
    
    <div class="Card-section Card-info">
        What did you do?
    </div>

    @Html.AntiForgeryToken()
    
    <div class="Card-section line">
        <button id="js-button-followup" class="Button Button--answer">
            <span data-icon="advise"></span>
            <span class="Button-label">Followup</span>
        </button>
        <div class="textarea-wrap">
            @Html.TextAreaFor(x => x.Text, new
                                               {
                                                   @class = "form-control " + textareaClass,
                                                   rows = "2",
                                                   cols = "30",
                                                   placeholder="What do you think?"
                                               })
            @Html.ValidationMessageFor(x => x.Text)
        </div>
    </div>
    
</form>

