@using TwitterBootstrapMVC
@model Dilemma.Business.ViewModels.QuestionViewModel
@{
    ViewBag.Title = "Ask a question";
}

<h2>@ViewBag.Title</h2>

@using (var f = Html.Bootstrap().Begin(new Form("Create", "Question")))
{
    @f.FormGroup().TextAreaFor(m => m.Text).Rows(10).NoLabel();
    @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton())
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
