@model dynamic

@{
    ViewBag.Title = "About Us";
}

<h2>Contact Us</h2>

<p>OurDilemmas is a new website, we are very excited about it and would love to hear from you.</p>
<p>If you have any questions, or come across any problems please contact us at <a href="mailto:Hey@OurDilemmas.com">Hey@OurDilemmas.com</a> or contact us through <a href="http://twitter.com/ourdilemmascom">Twitter @@OurDilemmascom</a> or on <a href="http://Facebook.com/OurDilemmascom">Facebook.com/OurDilemmascom</a>.</p>

<h2>The OurDilemmas Ethos</h2>

<p>There are lots of websites out there where you can post every detail of your life or others can post it for you to remain on view for eternity whether you like it or not! </p>
<p>We wanted to provide people with something different. Somewhere you can go privately. To express your concerns, fears and opinions without anyone know who you are.</p>
<p>So when you come to OurDilemmas there is no registration. We don’t ask you as we don’t want or need to know. What we do in order that our system can recognise that you have used the site is put a cookie on your PC, phone, or tablet computer. This is just so when you return to the site the system recognises the device and can provide you with updates to your posts.  If you ever want to stop the system from recognising your device you just need to go to your device setting and delete the cookie.</p>

<h2>What You and Others See</h2>

<p>OurDilemmas is not a forum. Anyone user will only see a subsection of what is happening on the site at any one time. This is so it is manageable within a mobile device and avoids overwhelming users with hundreds of posts.</p>
<p>We don’t store history, either questions or answers – once completed (currently set as 29 days from initial post) they are then deleted and gone forever.</p>

<h2>Points and Rankings</h2>

<p>By recognising the device through the cookie we attribute reward points for your activity on the site. For example if you ask a question and once closed to answers you can earn points by letting us know your thoughts on the answers given and letting us all know how you got on and if the advice provided was helpful.</p>
<p>The real big earners are to those whose answer is either voted as the best answer by the community voting and/or by the person who posted the dilemma, which we call the star answer.</p>

<p>
    <strong>The five levels are</strong>
    <ul>
        <li>Pupil - 0 – 999 points</li>
        <li>Wise Owl – 1000 – 4999 points</li>
        <li>Guru – 5,000 – 14,999 points</li>
        <li>Guardian – 15,000 – 49,999 points</li>
        <li>Deity – 50,000+ points</li>
    </ul>
</p>

<p>
    <strong>The points are awarded for</strong>
    <ul>
        <li>Posting a Dilemma – 200 points</li>
        <li>Posting an Answer – 100 points</li>
        <li>Voting on an Answer – 50 points</li>
        <li>Vote for Star Answer – 50 points</li>
        <li>Win the Community vote for best answer – 500 points</li>
        <li>Win Star Answer vote – 500 points</li>
        <li>Let the Community know how things went. What happened next? Did the advice help? – 200 points</li>
    </ul>
</p>

<h2>Protecting the Community</h2>

<p>We want to ensure everyone on the site is protected against malicious posts and ask that all users adhere to a policy of being helpful. The site has three levels of moderation</p>
<p>
    <ol>
        <li>Auto moderation – we use a system to pick up words of concern if a word is picked up you can change it to something more acceptable. Unless it is changed the system will not allow the post to be submitted</li>
        <li>Manual Moderation – this is done on an ad hoc basis or based on certain key words which whilst not abusive maybe of concern. In those instances where a post is felt to be inappropriate to the site (this may be due to its serious nature) it will not be posted and notification provided to explain to the user why and, where possible provide more suitable sources of support</li>
        <li>User Flagging – anyone on the site can flag a post that they feel is inappropriate and this will initiate it being manually moderated and if we agree the post will be removed</li>
    </ol>
</p>

<p>Any user found to be abusing the site and failing to adhere to the sites policies will be removed.</p>

<h2>Terms and conditions for OurDilemmas</h2>

<p>These are standard rules about posting comments on the OurDilemmas our site. They are designed to ensure participants feel safe, keen to take part again and keep to its focus.</p>
<p>
    <ul>
        <li><strong>Debate should be lively but also constructive and respectful.</strong></li>
        <li><strong>Don't incite hatred</strong> on the basis of race, religion, gender, nationality or sexuality or other personal characteristic.</li>
        <li><strong>Don't swear</strong>, use hate-speech or make obscene or vulgar comments.</li>
        <li><strong>Don't break the law.</strong> This includes libel, condoning illegal activity and contempt of court (comments which might affect the outcome of an approaching court case).</li>
        <li><strong>Don't engage in 'spamming'.</strong> Don’t advertise products or services.</li>
        <li><strong>If you are under 16, please get permission from a parent or guardian before commenting on this blog.</strong></li>
        <li><strong>Don't impersonate</strong> or falsely claim to represent a person or organisation.</li>
        <li><strong>Don't post in a language other than English.</strong></li>
        <li><strong>Protect your privacy and that of others.</strong> Please don’t post names, private addresses, phone numbers, email addresses or other online contact details.</li>
        <li><strong>Stay on-topic.</strong> Please don't post messages that are unrelated to the topic.</li>
    </ul>
</p>
<p>OurDilemmas uses both automated and often in addition manual moderation before Comments on our site go live. Comments will go live as soon as possible within a 48 hour period. If a comment contravenes the discussion rules it will not be published or will be removed from the blog.</p>

<h2>Content disclaimer</h2>

<p>Views expressed by authors are theirs alone and do not represent the views of the OurDilemmas. </p>

<h2>Copyright and neighbouring rights</h2>

<p>You own the copyright in your postings but you also agree to grant the OurDilemmas a perpetual, royalty-free, non-exclusive, sublicenseable right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, play, and exercise all copyright and publicity rights with respect to any such work worldwide and/or to incorporate it in other works in any media now known or later developed for the full term of any rights that may exist in such content. If you do not wish to grant such rights to the Our Dilemmas, it is suggested that you do not submit your comment to this site.</p>
<p>You should remember that you are legally responsible for what you write. By submitting a comment you undertake to indemnify the OurDilemmas against any liability arising from breach of confidentiality or copyright, or any obscene, defamatory, seditious, blasphemous or other actionable statement you may make.</p>
<p>The copying and use of the OurDilemmas logo and other OurDilemmas related logos is not permitted without prior approval of the OurDilemmas. </p>

<h2>Virus protection</h2>

<p>The site operators make every effort to check and test material at all stages of production. It is always wise for users to run an anti virus program on all material downloaded from the internet. </p>
<p>OurDilemmas cannot accept any responsibility for any loss, disruption or damage to your data or your computer system which may occur whilst using material from the OurDilemmas website. </p>

<h2>Your privacy</h2>

<p>Cookies are pieces of data that are often created when you visit a website and are stored in the cookie directory of your own computer. </p>
<p>Cookies are used to store a session ID which allows you to log-in and make comments. No personal information is stored in the Cookie.</p>
<p>Other websites linked from this site are not covered by this privacy policy.</p>

<h2>Links to and from other websites</h2>

<p>OurDilemmas is not responsible for the contents or reliability of the external websites and does not necessarily endorse the views expressed within them. Links to external sites should not be taken as endorsement of any kind. We cannot guarantee that these links will work all of the time and we have no control over the availability of the linked pages. </p>
<p>OurDilemmas encourages users to establish hypertext links to the site. You do not have to ask permission to link directly to pages hosted on the website. We do not object to you linking directly to our information, but you should obtain permission if you intend to use our logo. </p>

