@model dynamic

@{
    ViewBag.Title = "About Us";
}

<h2>About us</h2>

<p>OurDilemmas is a new website, we are very excited about it and would love to hear from you.</p>

<p>
    <div>If you have any questions, or come across any problems please contact us at:</div>
    <p style="margin-left: 20px">
    <div>By email at <a href="mailto:hey@OurDilemmas.com">hey@OurDilemmas.com</a></div>
    <div>On Twitter <a href="http://twitter.com/ourdilemmascom">@@OurDilemmasCom</a></div>
    <div>On Facebook at <a href="http://www.facebook.com/ourdilemmascom">http://www.facebook.com/ourdilemmascom</a>
    </div></p>
</p>

