/*

  Buttons

======================================================*/
.Card {
  [class^='Button'],
  [class*=' Button'] {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;  
  }
}
.Dilemma-actions {
  background-color: #f7f7f7;
  border-radius: 0 0 @ui-radius @ui-radius;
}

[class^='Button'],
[class*=' Button'], 
button,  
input[type=submit],
input[type=button]  {
  transition: all 0.25s;
}



  [class^='Button--'],
  [class*=' Button--'] {

    display: inline-block;
    width: 100%;
    max-width: 290px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 6px 12px;
    border-bottom-width: 2px;

    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.5);
    //background-image: none;
    background: #fff;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.42857143;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    white-space: nowrap;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    cursor: pointer;  
    -ms-touch-action: manipulation;
    touch-action: manipulation;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      text-decoration: none;
      border-color: rgba(0, 0, 0, 0.3);
    }

    &:active {
      border-bottom-width: 1px;
      border-top-width: 2px;
    }
  }

  .Button--answer {
    color: @color-text;
    background-color: @color-answer;
    border-color: saturate(darken(@color-answer,15%), 5%);
    &:hover,
    &:active,
    &:focus {
      color: @color-text;
      @color-answer-hover: darken(spin(@color-answer,5), 10%);
      background-color: saturate(@color-answer-hover,10%);
      border-color: darken(@color-answer-hover,10%);
    }
  }

  .Button--vote {
    color: #fff;
    background-color: @color-vote;
    border-color: saturate(darken(@color-vote,15%), 5%);
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      @color-vote-hover: darken(spin(@color-vote,5), 10%);
      background-color: saturate(@color-vote-hover,10%);
      border-color: darken(@color-vote-hover,10%);
    }
  }


  .Button--ask {
    color: @color-text;
    background-color: @color-ask;
    border-color: saturate(darken(@color-ask,15%), 5%);
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      @color-ask-hover: darken(spin(@color-ask,5), 10%);
      background-color: saturate(@color-ask-hover,10%);
      border-color: darken(@color-ask-hover,10%);
    }
  }

  .Button--red {
    color: #fff;
    background-color: @color-accent;
    border-color: saturate(darken(@color-accent,15%), 5%);
    &:hover,
    &:active,
    &:focus {
      color: #fff;
      @color-accent-hover: darken(spin(@color-accent,5), 10%);
      background-color: saturate(@color-accent-hover,10%);
      border-color: darken(@color-accent-hover,10%);
    }
  }

  .Button--flag {
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }

  [class^='Button'],
  [class*=' Button'] {
    &.disabled, 
    &[disabled],
    &.disabled:hover, 
    &[disabled]:hover,
    &.disabled:active, 
    &[disabled]:active,
    &.is-active {
      color: #777 !important;
      background-color: #ccc !important;
      border-color: #ccc !important;
      border-radius: 4px;
      &.is-active {
        color: @color-cta !important;
        background: #444 !important;
        border-color: #444 !important;
        opacity: 1 !important;
      }
    }
  }



  // Button components
  .Button-label {
    //display: block;
    font-size: 12px;
    line-height: 15px;
    .glyphicon {
      margin-top: 2px;
    }
    &.is-active {
      display: none;
    }
  }

  [class^='Button'],
  [class*=' Button'] {
    &.is-active .Button-label.is-active {
      display: inline-block;
    }
    &.is-active .Button-label.is-inactive {
      display: none;
    }
  }


