.Media, 
.Media-text {
  overflow: hidden;
  *overflow: visible;
  zoom: 1; 
}
.Media-img {
  float: left;
  margin-right: 10px; 
}
.Media-img.right {
  float: right;
  margin-left: 10px; 
}
.Media img {
  display: block; 
}


.Media--valign {
  display: table;
}
.Media--valign > .Media-img,
.Media--valign > .Media-text {
  display: table-cell;
  vertical-align: middle;
}
.Media--valign > .Media-img { 
  float: none; 
}
.Media--valign > .Media-text { 
  width: 100%; 
}

.Media--stacked img {
  width: 100%;
  height: auto; 
}
