@model Dilemma.Web.ViewModels.MyProfileViewModel

@{
    ViewBag.Title = "Profile";
}


    <h1 class="mb0 mh15 pb0">
      <span data-icon="user"></span> 
      Your Profile
    </h1>

    <div class="line">

        <aside class="sidebar">
            @Html.DisplayFor(x => x.Sidebar, "Sidebar", new { HideNotifications = true })
        </aside><!-- sidebar -->
        
        <main role="main" class="main">
            
            <h2 class="js-sticky h3">
                <span class="js-sticky--offset">
                    Your Current Dilemmas
                </span>
            </h2>

            <div class="Dilemmas">

                @Html.DisplayForList(x => x.Dilemmas, "QuestionNotification")

                <h2 class="js-sticky h3">
                    <span class="js-sticky--offset">
                        My Current Answers
                    </span>
                </h2>

                @Html.DisplayForList(x => x.Answers, "QuestionNotification")
                
                <h2 class="js-sticky h3">
                    <span class="js-sticky--offset">
                        Other notifications
                    </span>
                </h2>

                @Html.DisplayForList(x => x.Notifications, "Notifications")
                
            </div>

        </main><!-- main-->   

    </div>     

@section scripts {
    <script type="text/javascript">
        document.getElementsByTagName('body')[0].className += ' page-profile';
    </script>
}