@model Dilemma.Web.ViewModels.DilemmaDetailsViewModel

@{
    ViewBag.Title = "Advise";
}

<div class="wrap"> 

    <div class="line">

        <div class="stream">

            @using (Html.BeginForm("Answer", "Answers", new
                                                            {
                                                                questionId = Model.QuestionDetails.QuestionViewModel.QuestionId
                                                            }, FormMethod.Post, new
                                                                                    {
                                                                                        @class = "Card2"
                                                                                    }))
            {
                <div class="Dilemma-category Card-label section-label">
                    Add your answer
                </div>
                <div class="Dilemma-question Card-section">
                    <label>The Dilemma</label>
                    <div style="min-height: 100px; overflow: auto; border: solid 1px #ddd; padding: 10px; margin-bottom: 10px; resize: vertical; color: #777;">
                        <p>@Model.QuestionDetails.QuestionViewModel.Text</p>
                    </div>
                    @if (Model.MyAnswer != null)
                    {
                        <label for="answer">Your Answer</label>
                        @Html.TextAreaFor(x => x.MyAnswer.Text, new
                                                                    {
                                                                        @class = "form-control",
                                                                        rows = "10",
                                                                        cols = "30"
                                                                    })
                        @Html.ValidationMessageFor(x => x.MyAnswer.Text)
                    }
                </div>
                <!-- Dilemma-question Card-section -->
                <div class="Dilemma-actions Card-section line">

                    <div class="u-2of5">
                        @if (Model.MyAnswer != null)
                        {

                            <button type="button" class="Button Button--answer">
                                <span data-icon="tick"></span>
                                <span class="Button-label">Submit your answer</span>
                            </button>
                            <input type="submit" class="btn btn-default" value="Temp Submit" />
                        }
                        else
                        {
                            <p class="bg-danger">No more answers allowed...</p>
                        }        
                    </div>
                </div>
                
                <!-- Dilemma-actions -->
            }

        </div>
    
    </div><!-- line -->

</div>
