@using Dilemma.Web.Extensions
@model Dilemma.Web.ViewModels.AskViewModel

@{
    ViewBag.Title = "Ask";
}

<div class="wrap">
   
    <h1 class="pb10 mh15"><img src="/Content/images/icons/red-ask.png" alt="" width="40"> Ask</h1>
    <div class="line">

        <aside class="sidebar">
            @Html.DisplayFor(x => x.Sidebar, "Sidebar")
        </aside><!-- sidebar -->

        <main role="main" class="main">
            
            @using (Html.BeginForm(FormMethod.Post, new { @class="Card" }))
            { 
            <form action="post" class="Card ">

                <div class="Card-section Card-divider pa10" style="background: #f9f9f9;">
                    
                    @Html.EditorFor(x => x.Question)

                    <div class="form-group">
                        <button type="button" class="Button--ask">
                            <img src="/images/icons/dark-ask.png" alt="" width="22">
                            Share My Dilemma
                        </button>               
                    </div>
      
                </div>
            }

        </main>
    
    </div><!-- line -->

</div>


@section scripts {
    <script type="text/javascript">
        document.getElementsByTagName('body')[0].className+=' page-ask';
    </script>
}