/*

  Page / layout specific over-rides

======================================================*/

.layout-profile {
  .profile .size-s-and-up {
    display: block;
  }
}



.featured-content {
  margin: 8px;
  text-align: center;
}


.page-home .navbar-nav {
  display: none;
}



/*

  Component to be filed: Slideshow

======================================================*/

#slide-wrap {
  position: relative;
}


#slide-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;//rgba(0,0,0,0.75);
  z-index: 99999;
  height: 50px;
  a {
    color: #fff;
  }
  #prev, #next  {
    position: absolute;
    display: block;
    font-size: 30px;
    line-height: 50px;
    top: 0;
    display: none;
  }
  #prev {
    padding: 4px 50px 0 10px;
    left: 0;
  }
  #next {
    padding: 4px  10px 0 50px;
    right: 0;
  }
    #custom-pager {
      text-align: center;
    }
  #custom-pager a {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #fff;
    opacity: 0.5;
    position: relative;
    z-index: 99999;
    margin: 0 15px;
    border-radius: 50%;
  }
  #custom-pager .cycle-pager-active a,
  #custom-pager a:hover {
    opacity: 1;
  }
}






// hide fixed elemnts when is a touch browser that is using chrome or chrome ios (crios)
// fixfixed is added to body tag by javascript
.fixfixed {
    .js-sticky.stuck {
        display:none !important;
    }
    @media only screen and (max-width: @m) {
        .page-hd .navbar-nav {
             display:none !important;
        }
    }
}
