@model Dilemma.Web.ViewModels.DilemmasViewModel
@{
    ViewBag.Title = "";
}
    
    <h1 class="js-sticky">
        <span class="js-sticky--offset">
            <img src="/Content/images/icons/red-answer.png" alt="" width="40">
            Advise
        </span>
    </h1>

    <div class="line">

        <aside class="sidebar">
            @Html.DisplayFor(x => x.Sidebar, "Sidebar")
        </aside><!-- sidebar -->

        <main role="main" class="main">
            <div class="Dilemmas">

                @Html.DisplayForList(x => x.DilemmasToAnswer, "QuestionSummary")
                
                <h2 class="js-sticky h1 js-sticky--vote">
                    <span class="js-sticky--offset">
                        <img src="/Content/images/icons/red-vote.png" alt="" width="40">
                        Vote
                    </span>
                </h2>
          
                @Html.DisplayForList(x => x.DilemmasToVote, "QuestionSummary")
            </div>
        </main><!-- main-->  
    </div>



@section scripts {
    <script type="text/javascript">
        document.getElementsByTagName('body')[0].className+=' page-dilemmas';
    </script>
}