<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="c:\\Nlog.log" throwExceptions="true">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target xsi:type="Database"
            name="ApplicationDatabaseLogging"
            connectionStringName="DilemmaContext">
      <commandText>
        insert into systemlogging(logdate,loglevel,loglogger,logmessage,logmachinename, logusername, logcallsite, logthread, logexception, logstacktrace) values(@time_stamp, @level, @logger, @message,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>

      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>
    <target name="ErrorMail" xsi:type="Mail" html="false" subject="OurDilemmas Error: ${emailsubject:inner=${substring:start=97:length=200:inner=${message}}}..." body="${message}"
         to="erorrlogging@ourdilemmas.com"
         from="system@ourdilemmas.com"
         replaceNewlineWithBrTagInHtml="true"
         smtpUserName="system@ourdilemmas.com"
         enableSsl="false"
         smtpPassword="IVLrBj9Js9upERCwMLIkscHolIxVim"
         smtpAuthentication="Basic"
         smtpServer="mail.ourdilemmas.com"
         smtpPort="25"
         useSystemNetMailSettings="false" />
    <target name="WarnMail" xsi:type="Mail" html="false" subject="OurDilemmas Info: ${substring:start=0:length=50:inner=${message}}" body="${message}"
         to="logging@ourdilemmas.com"
         from="system@ourdilemmas.com"
         replaceNewlineWithBrTagInHtml="true"
         smtpUserName="system@ourdilemmas.com"
         enableSsl="false"
         smtpPassword="IVLrBj9Js9upERCwMLIkscHolIxVim"
         smtpAuthentication="Basic"
         smtpServer="mail.ourdilemmas.com"
         smtpPort="25"
         useSystemNetMailSettings="false" />

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
     <logger name="*" minlevel="Trace" writeTo="ApplicationDatabaseLogging"/>
    <logger name="*" level="Error" writeTo="ErrorMail" />
    <logger name="*" level="Fatal" writeTo="ErrorMail" />
    <logger name="*" level="Warn" writeTo="WarnMail" />
  </rules>
</nlog>