
<footer role="contentinfo" class="page-ft">
    <small>
        <div class="wrap">
            <ul class="unstyled inline with-separators">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <div class="copyright">&copy;&#160;Our Dilemmas&#160;@DateTime.Now.Year-100&#160;All&#160;rights&#160;reserved</div>
        </div><!-- wrap-->
    </small>
</footer>
