<!-- Modal -->
<div class="modal fade" id="modal-flag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="" class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="form-group">
                    <legend>Why are you you reporting this?</legend>
                    <div class="radio">
                        <label>
                            <input type="radio" name="flag_reason" id="flag_reason_1" value="option1">
                            Offensive or abusive content
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="flag_reason" id="flag_reason_2" value="option2">
                            Spam / unsolicited advertising
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="flag_reason" id="flag_reason_3" value="option3">
                            Not an answer or unrelated to this dilemma
                        </label>
                    </div>
                </div><!-- form-group -->
            </div><!-- modal-body -->
            <div class="modal-footer">
                <div class="line">
                    <button type="submit" class="btn Button Button-danger btn-large left js-flag-confirm" data-dismiss="modal" >
                        <span data-icon="flag-active"></span>
                        <strong>Report<span class="size-s-and-up inline"> this</span> post</strong>
                    </button>
                    <button type="button" class="Button right" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Close
                    </button>              
                </div>
            </div>

        </div>
    </form>
</div>

